# Pastas temporárias
.tmp/

# Pastas de Logs
logs/

# Variáveis de ambiente
.env

# Credenciais e tokens
credentials.json
token.json

# Cache do Python
__pycache__/
*.pyc

# Documentação Interna da IA
AGENTE.md
